body {
  font-family: "Lato", "Pretendard", sans-serif;
  font-size: 16px;
  background-color: #333;
  color: #fff;
}

header {
  height: 60px;
  background-color: #fff;
  color: #111;
  display: flex;
  justify-content: center;
  align-items: center;
}
header h1 {
  font-size: 18px;
  font-weight: 300;
}
header h1 strong {
  font-weight: 700;
}

button {
  border: none;
  background: none;
  outline: none;
  border-radius: 10px;
  font-family: inherit;
}

.contents-box {
  height: calc(100vh - 60px);
  display: none;
}
.contents-box .inner {
  height: 100%;
}
.contents-box.on {
  display: block;
}

.start .inner {
  background: url("../images/main-cat.png") no-repeat 50% #000;
  background-size: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.start .inner h2 {
  font-size: 8vw;
  color: #fff;
  font-weight: 700;
  text-align: center;
  padding: 0 20px;
}
.start .inner button {
  background-color: #fff;
  color: #111;
  font-size: 5vw;
  padding: 15px 30px;
  font-weight: 700;
}

.question .inner {
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
  box-sizing: border-box;
}
.question .inner .progress {
  border-radius: 100px;
  height: 15px;
  background-color: #fff;
  overflow: hidden;
  position: relative;
}
.question .inner .progress .bar {
  background-color: #f00;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0%;
  border-radius: 0 100px 100px 0;
  transition: all 300ms;
}
.question .inner .question-box {
  color: #fff;
  text-align: center;
  font-size: 5vw;
  font-weight: 700;
}
.question .inner .btns {
  display: flex;
  gap: 20px;
}
.question .inner .btns button {
  width: 50%;
  height: 180px;
  background-color: #fff;
  color: #111;
  font-size: 4vw;
  font-weight: 700;
  padding: 20px;
  box-sizing: border-box;
  word-break: keep-all;
}

.result .inner {
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}
.result .inner h5 {
  font-size: 6vw;
}
.result .inner .title {
  font-size: 16vw;
}
.result .inner .photo {
  width: 60vw;
  height: 60vw;
  margin: 20px auto;
}
.result .inner .photo .cat {
  border-radius: 100%;
  width: 100%;
  height: 100%;
}
.result .btns {
  display: flex;
}
.result .btns button {
  width: 40%;
  height: 100px;
  background-color: #fff;
  color: #111;
  font-size: 4vw;
  font-weight: 700;
  margin: 0px auto;
  box-sizing: border-box;
  word-break: keep-all;
}